
*{
  margin: 0;
  padding: 0;
}
.cont{
  padding-left: 6rem;
  padding-right: 6rem;
  background-color: #dddddd  ;
  min-height: 100vh;
  background-position: center;
  position: relative;
  line-height: 1.9pc;
}
a{
  text-decoration: none;
}
.brand {
  font-size: 27px;
  font-family: Georgia, serif;
  color: rgb(240, 98, 16);
  text-transform: uppercase;
  display: inline-flex;
}
.content{
  font-size: 22px;
}
h1{
  font-size: 29px;
  padding-right:44pc;
}
.secton{
  display: flex;
  justify-content: center;
}